einops==0.8.0 ; python_version >= "3.9" and python_version < "3.12"
numpy==1.26.4 ; python_version >= "3.9" and python_version < "3.12"
torch==2.4.1 ; python_version >= "3.9" and python_version < "3.12"
